* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #f8db90e2;
    font-size: 20px;
    font-family: "Poppins"
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    margin-top: 5px;
    float: right;
    
}


.header div ul li {
    display: inline-block;
    margin-left: 50px;
    
}

.header h1 {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 10px;
    padding-left: 50px;
    font-size: 30px;
    background-color: #94AF9F;
    color: white;
}

.main-photo {
    height: 350px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(White\ Chamomile\ Facebook\ Cover\ Summer\ Photo\ Collage\ \(1640\ ×\ 500\ px\).png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.main-photo h2 {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 30px;
    color: white;
}

.block-styling {
    display: flex;
}

.block-styling-text, p {
    display: flex;
    background-color: white;
    padding-left: 10px;
}

.block-styling-left {
    float: left;
    font-weight: bold;
    width: 10%;
    height: 250px;
    box-sizing: border-box;
    background-color: white;
    border-style: solid;
    border-width: medium;
    margin-right: 5px;
}

.block-styling-right {
    width: 89%;
    height: 250px;
    box-sizing: border-box;
    background-color: white;
    border-style: solid;
    border-width: medium;
    text-align: center;
}

.contact-me-ul {
    display: inline-flex;
    background-color: white;

    padding-top: 40px;
    list-style: none;
}

.contact-me-li {
    margin-top: 50px;
    margin-right: 80px;
}

.sip-img {
    display: flex;
    position: absolute;
    margin-left: 2%;
    margin-bottom: 60%;
    margin-top: 10px;
    width: 350px;
    height: 200px;
    border-style: dashed;
    
}

.petfolio-img {
    position: relative;
    margin-left: -15%;
    margin-bottom: 60%;
    margin-top: 10px;
    width: 350px;
    height: 200px;
    border-style: dashed;
}

